
/* card styles */
.card-items {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 12px;
    margin: 8px ;
    
}

/* header style */
.header-item {
    width: 146px ;
    background-color: #C9B6FF;
    border-radius: 6px;
    padding: 2px;
    
    text-align: center;
    margin-bottom: 15px;
}

.header-item h3 {

    font-weight: 700;
    font-style: italic;
    font-family: 'Roboto', sans-serif;


}

/* Main sytles */
.main-item { 

    margin-bottom: 5px;
    text-align: justify;
}

.main-item p {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    font-size: 12pt;
}

main { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'breakfast dissert'
        'lunch beverage'
        'dinner img';

    max-width: 650px;
    width: 100%;

    padding: 9px;
    margin-top: 12px;

    border: 1px solid #000;
    border-radius: 6px;
}

.breakfast {
    grid-area: breakfast;
    border-right: 1px solid #000000;
}

.lunch {
    grid-area: lunch;
    border-right: 1px solid #000000;

}

.dinner {
    grid-area: dinner;
    border-right: 1px solid #000000;
    

}

.beverage {
    grid-area: beverage;
}

.dissert {
    grid-area: dissert;
}

.img {
    grid-area: img;
    margin-left: 30px;
    margin-top: -90px;
}