* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h3, h1 { 
    text-transform: uppercase;
}

p { 
    margin-bottom: 8px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteiner animation*/

@keyframes move {
    0% {
        transform: translate(-2px);
    }
    50% {
        transform: translate(2px);
    }
    100% {
        transform: translate(-2px);
    }

}

/* Container styles */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 650px;
    width: 100%;
    height: inherit;

    margin: 2rem;
    padding: 20px;

    background-color: #f4f4f4;

    border-radius: 34px;
    box-shadow: black;
    box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.24);

    /* animation section */
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} 

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    

    width: 100%;
    height: 25%;
    border-radius: 10px;
    
    background-color: #C9B6FF;
    padding: 35px;
    margin: 5px; 
}

.title { 
    
    padding: 12px;
}

.tMenu {
    font-size: 36pt;
    font-weight: 700;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.tdeclaration {
    font-size: 32pt;
    font-weight: 200;
    font-family: 'Fuzzy Bubbles', cursive;
}

.subTitles { 
    float: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;       
}





